.main-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ccn-sidenav {
  height: 100%;
}

.is-mobile .head-toolbar {
  position: fixed;
  z-index: 2;
}

.mat-h1 {
  margin: 0 0 0 8px;
}


