<h2 class="mat-h2">{{ 'ROOMS.ROOMS' | translate }}</h2>
<div class="filter-row">
  <div class="filter-inputs">
    <mat-form-field appearance="standard" class="filter-space">
      <mat-label>{{ 'ROOMS.NAME' | translate }}</mat-label>
      <input matInput (keyup)="setFilterName($event)" #input />
    </mat-form-field>

    <mat-form-field appearance="standard" class="filter-space">
      <mat-label>{{ 'ROOMS.FACULTY' | translate }}</mat-label>
      <mat-select [formControl]="filterFaculty" (selectionChange)="loadRooms()">
        <mat-select-trigger>
          {{
            isDesktop
              ? ((filterFaculty.value ? 'FACULTY.' : '') +
                  filterFaculty.value || '' | translate)
              : filterFaculty.value
          }}
        </mat-select-trigger>
        <mat-option *ngFor="let faculty of facultyList" [value]="faculty">{{
          isDesktop
            ? ((faculty ? 'FACULTY.' : '') + faculty || '' | translate)
            : faculty
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <button
      mat-raised-button
      *ngIf="adminSrv.getIsAdmin()"
      (click)="openFormDialog($event)"
    >
      <mat-icon>add</mat-icon>
    </button>

    <button mat-raised-button (click)="resetFilter()">
      <mat-icon>replay</mat-icon>
    </button>
  </div>
</div>
<table mat-table [dataSource]="roomList" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="updated">
    <mat-header-cell *matHeaderCellDef>{{
      'ROOMS.UPDATE_ROOM' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let room">{{
      room.updatedAt | customDate
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="maxParticipants">
    <mat-header-cell *matHeaderCellDef>{{
      'ROOMS.MAX_PARTICIPANTS' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.maxParticipants }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="maxDuration">
    <mat-header-cell *matHeaderCellDef>{{
      'ROOMS.MAX_DURATION' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let room">{{ room.maxDuration }} min.</mat-cell>
  </ng-container>

  <ng-container matColumnDef="faculty">
    <mat-header-cell *matHeaderCellDef>{{
      'ROOMS.FACULTY' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let room">{{
      isDesktop
        ? ((room.faculty ? 'FACULTY.' : '') + room.faculty || '' | translate)
        : room.faculty
    }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell class="center" *matHeaderCellDef>{{
      'ACTIONS' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let room">
      <button
        *ngIf="adminSrv.isAdmin"
        mat-icon-button
        (click)="openFormDialog($event, room.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        *ngIf="adminSrv.isAdmin"
        mat-icon-button
        (click)="openDeleteDialog($event, room.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="row.id"
  ></mat-row>
</table>

<mat-paginator
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  [hidePageSize]="true"
  [length]="_meta?.itemCount"
  [pageSize]="_meta?.take"
  [pageIndex]="_meta?.page"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
