table {
  width: 100%;
}

.filter-space {
  margin-right: 20px;
}

.mat-row:hover .mat-cell {
  background-color: #5c5b5b;
  cursor: pointer;
}

.filter-row {
  display: flex;
  justify-content: space-between;

  .filter-inputs {
    display: flex;
    align-items: center;
  }

  .filter-actions {
    display: flex;
    align-items: center;
  }
}
