.no-margin-bottom {
  margin-bottom: 0;
}


.center-text {
  justify-content: center;
  text-align: center;
}


.filter-actions {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


.mobile {
  display: block !important;
  margin-bottom: 8px;
}
