<mat-card>
  <mat-card-title>
    <h1>{{ 'PROFILES.PROFILE_UPDATE' | translate }}</h1>
  </mat-card-title>
  <mat-card-content>
    <form #f="ngForm">
      <mat-form-field appearance="standard">
        <mat-label>{{ 'PROFILES.EMAIL' | translate }}</mat-label>
        <input
          matInput
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          email
        />
        <mat-error
          *ngIf="
            f.form.get('email')?.dirty &&
            f.form.get('email')?.value.trim() === ''
          "
        >
          {{ 'ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            f.form.get('email')?.dirty &&
            f.form.get('email')?.value.trim() !== '' &&
            !f.form.get('email')?.valid
          "
        >
          {{ 'ERRORS.EMAIL_NOT_VALID' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ 'PROFILES.FIRSTNAME' | translate }}</mat-label>
        <input matInput name="firstname" [(ngModel)]="firstname" required />
        <mat-error
          *ngIf="
            f.form.get('firstname')?.dirty && !f.form.get('firstname')?.valid
          "
        >
          {{ 'ERRORS.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ 'PROFILES.LASTNAME' | translate }}</mat-label>
        <input matInput name="lastname" [(ngModel)]="lastname" required />
        <mat-error
          *ngIf="
            f.form.get('lastname')?.dirty && !f.form.get('lastname')?.valid
          "
        >
          {{ 'ERRORS.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ 'PROFILES.OLD_PASSWORD' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="oldPassword"
          [(ngModel)]="oldPassword"
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ 'PROFILES.NEW_PASSWORD' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="newPassword"
          [(ngModel)]="newPassword"
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ 'PROFILES.NEW_PASSWORD_REPEAT' | translate }}</mat-label>
        <input
          matInput
          type="password"
          name="newPasswordRepeat"
          [(ngModel)]="newPasswordRepeat"
        />
        <mat-error
          *ngIf="
            f.form.get('newPasswordRepeat')?.dirty &&
            f.form.get('newPasswordRepeat')?.value.trim() === ''
          "
        >
          {{ 'ERRORS.REQUIRED' | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            f.form.get('newPassword')?.dirty &&
            f.form.get('newPasswordRepeat')?.dirty &&
            f.form.get('newPassword')?.value !==
              f.form.get('newPasswordRepeat')?.value
          "
        >
          {{ 'ERRORS.PASSWORDS_NOT_MATCHING' | translate }}
        </mat-error>
      </mat-form-field>

      <div class="space-between">
        <button mat-stroked-button color="warn" (click)="handleDelete()">
          {{ 'PROFILES.DELETE_USER' | translate }}
        </button>

        <button
          mat-stroked-button
          color="accent"
          [disabled]="!f.valid"
          (click)="handleUpdate()"
        >
          {{ 'SAVE_CHANGES' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
