.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding-top: 15px;

  .column-left {
    font-weight: 500;
    grid-column: 1;
  }
  .column-right {
    grid-column: 2;
  }
}

mat-card-content {
  margin-bottom: 0;
}

.note {
  margin-top: 10px;
  width: 400px;
  max-width: 100%;
}

.button-row {
  display: block;
  button {
    margin-right: 8px;
  }
}

.warning {
  padding-top: 15px;
}
