<mat-form-field appearance="standard" class="full-width">
  <mat-label>Search Name</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search Columns"
    #input
  />
</mat-form-field>
<button mat-raised-button (click)="toggleInfectionFilter()">
  <mat-icon *ngIf="infected">check</mat-icon>
  <mat-icon *ngIf="infected === false">clear</mat-icon>
  <mat-icon *ngIf="infected === undefined">remove</mat-icon>
  {{ 'SESSIONS.INFECTED' | translate }}
</button>
<button mat-raised-button (click)="resetFilter()">reset</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let session">{{ session.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="startTime">
    <mat-header-cell *matHeaderCellDef>{{
      'SESSIONS.SESSION_START' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let session">{{ session.startTime }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="endTime">
    <mat-header-cell *matHeaderCellDef>{{
      'SESSIONS.SESSION_END' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let session">{{ session.endTime }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="infected">
    <mat-header-cell *matHeaderCellDef>{{
      'SESSIONS.INFECTED' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let session"
      ><mat-icon *ngIf="session.infected">check</mat-icon>
      <mat-icon *ngIf="!session.infected">clear</mat-icon></mat-cell
    >
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<mat-paginator
  (page)="handlePageEvent($event)"
  [length]="_meta?.total"
  [pageSize]="_meta?.count"
  showFirstLastButtons
  [pageIndex]="_meta?.page"
  aria-label="Select page of periodic elements"
>
</mat-paginator>
