<h2 class="mat-h2">{{ 'SESSIONS.SESSIONS' | translate }}</h2>
<mat-form-field appearance="fill" class="filter-space">
  <mat-label>Search Name</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search Columns"
    #input
  />
</mat-form-field>

<mat-form-field appearance="fill" class="filter-space">
  <mat-label>{{ 'ENTER_DATERANGE' | translate }}</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input
      matStartDate
      [(ngModel)]="sessionBegin"
      placeholder="MM/DD/YYYY"
      (dateInput)="sessionInputChanged()"
      (dateChange)="sessionInputChanged()"
    />
    <input
      matEndDate
      [(ngModel)]="sessionEnd"
      placeholder="MM/DD/YYYY"
      (dateInput)="sessionInputChanged()"
      (dateChange)="sessionInputChanged()"
    />
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>

  <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">{{
    'INVALID_STARTDATE' | translate
  }}</mat-error>
  <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">{{
    'INVALID_ENDDATE' | translate
  }}</mat-error>
</mat-form-field>

<button
  mat-raised-button
  (click)="toggleInfectionFilter()"
  class="filter-space filter-button"
>
  <mat-icon *ngIf="infected">check</mat-icon>
  <mat-icon *ngIf="infected === false">clear</mat-icon>
  <mat-icon *ngIf="infected === undefined">remove</mat-icon>
  {{ 'SESSIONS.INFECTED' | translate }}
</button>

<button
  mat-stroked-button
  color="warn"
  (click)="resetFilter()"
  class="filter-space filter-button"
>
  {{ 'RESET' | translate }}
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="startTime">
    <mat-header-cell *matHeaderCellDef>{{
      'SESSIONS.SESSION_START' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let session">{{
      session.startTime | date : 'dd.MM.yyyy HH:mm:ss'
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="endTime">
    <mat-header-cell *matHeaderCellDef>{{
      'SESSIONS.SESSION_END' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let session">{{
      session.endTime | date : 'dd.MM.yyyy HH:mm:ss'
    }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="infected">
    <mat-header-cell *matHeaderCellDef>{{
      'SESSIONS.INFECTED' | translate
    }}</mat-header-cell>
    <mat-cell *matCellDef="let session"
      ><mat-icon *ngIf="session.infected">check</mat-icon>
      <mat-icon *ngIf="!session.infected">clear</mat-icon></mat-cell
    >
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<mat-paginator
  showFirstLastButtons
  aria-label="Select page of periodic elements"
  [length]="_meta?.itemCount"
  [pageSize]="_meta?.take"
  [pageIndex]="_meta?.page"
  (page)="handlePageEvent($event)"
>
</mat-paginator>
