<div class="wrapper">
  <div class="qr-camera-wrapper" (click)="toggleCamera()">
    <mat-icon class="camera-icon" *ngIf="!turnCameraOn"
      >camera_enhance</mat-icon
    >

    <zxing-scanner
      *ngIf="turnCameraOn"
      [enable]="turnCameraOn"
      [(device)]="desiredDevice"
      (camerasFound)="camerasFoundHandler($event)"
      (camerasNotFound)="camerasNotFoundHandler($event)"
      (scanSuccess)="scanSuccessHandler($event)"
      (scanError)="scanErrorHandler($event)"
      (scanComplete)="scanCompleteHandler($event)"
    ></zxing-scanner>
  </div>

  <div *ngIf="turnCameraOn && cameraDevices.length > 1">
    <mat-form-field class="qr-form-field">
      <mat-label>Select a camera</mat-label>
      <mat-select [(ngModel)]="desiredDevice" name="device">
        <mat-option *ngFor="let device of cameraDevices" [value]="device">
          {{ device.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="noCameraFound"><p>No Camera Found</p></div>
</div>
