.container {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 0.5em;
  }

  .room-details {
    flex: 70%;

    .info-wrapper {
      display: flex;
      font-size: 16px;
      border-bottom: 1px solid gray;

      > div {
        flex: 50%;
        padding: 1em 8px;
      }

      //:first-child {
      //  background-color: lime;
      //}
      //
      //:last-child {
      //  background-color: green;
      //}
    }
  }

  .qr-code {
    background-color: #0AAEB3;
    flex: 25%;
  }
}

.mat-title {
  margin: 0;
}

.is-mobile {
  flex-direction: column;
}

.small {
  font-size: 14px;
}
