<h2 class='mat-h2'>{{ 'ROOMS.ROOM_DETAILS' | translate }}</h2>
<div class='container'
     [class.is-mobile]='mobileQuery.matches'>
  <div class='room-details'>
    <div class='info-wrapper'
         [class.is-mobile]='mobileQuery.matches'>
      <div [class.small]='mobileQuery.matches'>Name</div>
      <div [class.small]='mobileQuery.matches'>test</div>
    </div>
    <div class='info-wrapper' [class.is-mobile]='mobileQuery.matches'>
      <div [class.small]='mobileQuery.matches'>{{
        'ROOMS.MAX_PARTICIPANTS' | translate
        }}</div>
      <div [class.small]='mobileQuery.matches'>test</div>
    </div>
    <div class='info-wrapper' [class.is-mobile]='mobileQuery.matches'>
      <div [class.small]='mobileQuery.matches'>{{
        'ROOMS.MAX_DURATION' | translate
        }}</div>
      <div [class.small]='mobileQuery.matches'>test</div>
    </div>
  </div>
  <div class='qr-code'>2</div>
</div>


<ccn-session-table [sessionList]='sessionList'></ccn-session-table>
