<h1>{{ 'DASHBOARD' | translate }}</h1>

<mat-grid-list cols="9" rowHeight="160px">
  <mat-grid-tile
    [rowspan]="mobileQuery.matches ? 1 : 2"
    [colspan]="mobileQuery.matches ? 9 : 6"
  >
    <ccn-session-card style="width: 100%"></ccn-session-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2" [colspan]="mobileQuery.matches ? 9 : 3">
    <ccn-qr-code-scanner (scanEvent)="onScan($event)"></ccn-qr-code-scanner>
  </mat-grid-tile>
</mat-grid-list>

<ccn-session-table
  [sessionList]="sessionList"
  style="margin-top: 1em; width: 100%"
></ccn-session-table>

<ccn-incidence
  style="display: grid; margin-top: 1em; height: 300px"
></ccn-incidence>
