<h1>{{ 'DASHBOARD' | translate }}</h1>

<mat-grid-list cols="9" rowHeight="160px">
  <mat-grid-tile
    [rowspan]="mobileQuery.matches ? 1 : 2"
    [colspan]="mobileQuery.matches ? 9 : 6"
  >
    <ccn-current-status style="width: 100%; height: 100%"></ccn-current-status>
    <ccn-session-card style="width: 100%; margin-left: 20px"></ccn-session-card>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="2" [colspan]="mobileQuery.matches ? 9 : 3">
    <ccn-qr-code-scanner (scanEvent)="onScan($event)"></ccn-qr-code-scanner>
  </mat-grid-tile>
</mat-grid-list>

<h2>{{ 'DASHBOARDS.LAST_SESSIONS' | translate }}</h2>
<ccn-session-table
  [sessionList]="sessionList"
  style="margin-top: 1em; width: 100%"
></ccn-session-table>

<h2 class="incidence-chart-heading">
  {{ 'INCIDENCE_CHART.7_DAY_INCIDENCES' | translate }}
  <mat-icon
    matTooltip="{{ 'INCIDENCE_CHART.7_DAY_INCIDENCES_TOOLTIP' | translate }}"
    >help_outline
  </mat-icon>
</h2>
<ccn-incidence
  [incidenceChartData]="incidenceChartData"
  class="incidence-chart"
></ccn-incidence>
